<!DOCTYPE html>
<html lang="en">
  <head>
      <%= content_for :title, "Read Without Borders"%>
  </head>
  <body>
    <div class="container">
<%= image_tag "mainImage.png", alt: "Main Image", class: "mainImage" %>
</div>
<%= image_tag "flowers.png", alt: "Flowers", class: "flowers" %>

  </body>
  <script>console.log("Akif Browser Side")</script>
</html>