<!DOCTYPE html>
<html lang="en">
  <head>
      <%= content_for :title, "Read Without Borders"%>
  </head>
  <body>
<%= image_tag "image.png", alt: "Main Image", class: "mainImage" %>
  </body>
  <script>console.log("Akif Browser Side")</script>
</html>